<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
     <div class="main-div">
        <a href="/read"> Read user</a>
        <h1 class="heading">Create User </h1>
         <form action="/create" method="post">
            <input class="name" type="text" name="name" placeholder="name">
            <input class="email" type="text" name="email" placeholder="email">
            <input class="image" type="text" name="image" placeholder="image">
            <input class="submit" type="submit" value="Create User">
            
         </form>
     </div>
</body>
</html>