<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
     <div class="main-div">
        <a href="/read"> Read user</a>
        <h1 class="heading">Login </h1>
         <form action="/login" method="post">
            <input class="email" type="email" name="email" placeholder="email">
            <input class="image" type="password" name="password" placeholder="password">
            <input class="submit" type="submit" value="Login">
            
         </form>
     </div>
</body>
</html>